.main_container{
    margin: 0 auto; /* for centering, feel free to use flexbox or some other method*/
    box-sizing: border-box;
    padding: 0.5in; /* controls margins */
    width: 8.5in;
    height: 11in;
    background-color: white;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);

}
#container{
    display: flex;
}

#box1{
    border: 1px solid black;
    width: 500px;
    background-color: antiquewhite;
    display: flex;
    
  
}

#box{
    text-align: center;
    
}

#box2{
    border: 1px solid black;
    width: 500px;
    background-color: antiquewhite;
    font-size: 12px;
    }


    /* this is box three */
#box3{
    border: 1px solid black;
    width: 719px;
    height: 70px;
    background-color: antiquewhite;
    display:flex;
}

#container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

#box4{
    border: 1px solid black;
    width: 380px;
    height: 600px;
    background-color: antiquewhite;
    }

#box5{
    border: 1px solid black;
    width: 380px;
    height: 600px;
    background-color: antiquewhite;
}

   

